{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- post section start here -->
    <section class="main-posts container"> 
        <div class="post-detail-title">
            <h1>{{post.title}}</h1>
            <p class="post-detail-author">by author</p>
            <div class="social-media">
                <div class="post-share-social-icons">      
                    <span>share on :</span>
                    <i class="fa-brands fa-facebook bg-primary text-light"></i>
                    <i class="fa-brands fa-twitter bg-info text-light"></i>        
                    <i class="fa-brands fa-linkedin bg-primary text-light"></i>  
                    <i class="fa-brands fa-instagram bg-danger text-light"></i> 
                    <i class="fa-brands fa-pinterest bg-danger text-light"></i>
                    <i class="fa-brands fa-whatsapp bg-success text-light"></i>
                </div>
            </div>
        </div>
      <div class="main-post">
        <div class="main-post-left-sidebar">
          <div class="post-detail">
            <div class="post-detail-box">
                <div class="post-detail-container">
                    <div class="post-detail-content">
                        <p>{{post.content|safe}}</p>
                    </div>
                    <!-- post comment section start -->
                    <div class="comment-container">
                    <div class="be-comment-block">
                      <h1 class="comments-title">Comments {% if comment_count %}({{comment_count}}){% endif %}</h1>
                      <div class="be-comment">
                        {% for comment in comments %}
                        <div class="be-img-comment">	
                          <a href="blog-detail-2.html">
                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="be-ava-comment">
                          </a>
                        </div>
                        <div class="be-comment-content">
                            <span class="be-comment-name">
                              <h5>{{comment.user}}</h5>
                            </span>
                            <span class="be-comment-time">
                              <i class="fa fa-clock-o"></i>
                              {{comment.created}}
                            </span>
                            <p class="be-comment-text">{{comment.text}}</p>
                          </div>
                          {% endfor %}
                        </div>
                      {% if request.user.is_authenticated %}
                      <form class="form-block" action="" method="post">
                        {% csrf_token %}								
                          <div class="form-group">
                            <textarea class="form-input" name="comment" required="" placeholder="write your comments"></textarea>
                          </div>
                          <input class="btn btn-secondary" type="submit" value="Submit">
                      </form>
                      {% else %}
                      <a class="btn btn-secondary comment-btn" href="{% url 'user_login' %}">Write your comment</a>
                      {% endif %}
                    </div>
                    </div>
                    <!-- post comment section ends here  -->
                </div>
            </div>
          </div>
        </div>

        <div class="main-post-right-sidebar">
          <div class="latest-news-title">
            <h2>Categories</h2>
            <div>
              {% for category in categories %}
               <a href="{% url 'category_list' category.category__id %}"><h5>{{category.category__title}}</h5></a>
              {% endfor %}
            </div>
          </div>
            <div class="small-sidebar-banner">
              <a href="">
                <img src="https://source.unsplash.com/random/natural" alt="">
              </a>
            </div>
            <!-- most popular sidebar posts  start -->
            <div class="most-popular-sidebar">
              <h2>Most Popular</h2>
              {% for post in popular_post %}
                <div class="most-popular-sidebar-box">
                  <div class="most-popular-sidebar-image">
                    <a href="{% url 'post_detail' post.id %}">
                      <img src="{{post.thumbnail.url}}" alt="">
                    </a>
                  </div>
                  <div class="most-popular-sidebar-title">
                    <h6>{{post.title|truncatewords:8}}</h6>
                  </div>
                </div>
              {% endfor %}
            </div>
            <!-- post  popular sidebar posts ends -->
        </div>
      </div>
    </section>
    <!-- post section end here -->

    <!-- full banner section start here -->
    <section class="banner container">
      <div class="full-banner">
        <div class="full-banner-image">
          <img src="https://source.unsplash.com/random/natural" alt="">
        </div>
        <div class="full-banner-title">
          <h4>Add Section</h4>
        </div>
      </div>
    </section>
    <!-- full banner section ends here -->


    <!-- All post showing start here -->
    <section id="recommended-section" class="container">
      <h1 class="text-center bg-secondary text-light p-2">Recommended</h1>
      <div class="recommended-post-container">
          {% for post in blog_posts %}
              <div class="recommended-post">
                <div class="recommended-thumbnail">
                  <a  href="{% url 'post_detail' post.id %}">
                    <img src="{{post.thumbnail.url}}" alt="">
                  </a>
                </div>
                <div class="recommended-content">
                  <h4>{{post.title|truncatewords:8}}</h4>
                </div>
              </div>
          {% endfor %}
        </div>
        <div class="spinner-border spinner" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="view-more">
          <button type="submit" class="btn btn-secondary load-btn" data-total={{total_post}}>View More</button>
        </div>
        <div class="alert alert-dark no-post-alert text-center" role="alert">
          No more  posts to show !!
        </div>
    </section>
    <!--All post showing ends here -->
    
    {% endblock content %}