{% extends 'base.html' %}
{% load static %}
{% block content %}  

    <!-- post section start here -->
    <section class="main-posts container">
      <div class="main-post">
        <div class="main-post-left-sidebar">
          <div class="main-slider">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
              </div>
              <div class="carousel-inner">
                {% for slider in sliders %}
                  {% if forloop.first %}
                    <div class="carousel-item active ">
                      <a href="{% url 'post_detail' slider.id %}">
                        <img class="slider-img" src="{{slider.thumbnail.url}}" class="d-block w-100" alt="...">
                      </a>
                      <div class="carousel-caption d-none d-md-block">
                        <h5 class="slider-title">{{slider.title|truncatewords:"8"}}</h5>
                      </div>
                    </div>
                  {% else %}
                    <div class="carousel-item ">
                      <a href="{% url 'post_detail' slider.id %}">
                        <img class="slider-img" src="{{slider.thumbnail.url}}" class="d-block w-100" alt="...">
                      </a>
                      <div class="carousel-caption d-none d-md-block">
                        <h5 class="slider-title">{{slider.title|truncatewords:"8"}}</h5>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}    
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <!-- first post of 6 category start -->
          <div class="three-column-post-container">
            {% for post in latest_post %}
              {% if forloop.counter < 7  %}
              <div class="three-column-post-box">
                <div class="three-column-post-image">
                  <a href="{% url 'post_detail' post.id %}">
                    <img src="{{post.thumbnail.url}}" alt="">
                  </a>
                  <h6 class="main_post_show_category">{{post.category.title}}</h6>
                </div>
                <div class="three-column-post-text">
                  <h4 class="three-column-post-title">{{post.title|truncatewords:8}}</h4>
                  <p class="three-column-post-para">{{post.meta_text|truncatewords:20}}</p>
                </div>
              </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <!-- first post of 6 category end -->
        <!--right sidebar latest post section start here-->
        <div class="main-post-right-sidebar">
            <div class="latest-news-title">
              <h2>Categories</h2>
              <div>
                {% for category in categories %}
                <a href="{% url 'category_list' category.category__id %}"><h5>{{category.category__title}}</h5></a>
                {% endfor %}
              </div>
            </div>
            <!--right side small banner start-->
            <div class="small-sidebar-banner">
              <a href="">
                <img src="https://source.unsplash.com/random/natural" alt="">
              </a>
            </div>
            <!-- most popular sidebar posts  start -->
            <div class="most-popular-sidebar">
              <h2>Most Popular</h2>
              {% for post in popular_post %}
                <div class="most-popular-sidebar-box">
                  <div class="most-popular-sidebar-image">
                    <a href="{% url 'post_detail' post.id %}">
                      <img src="{{post.thumbnail.url}}" alt="">
                    </a>
                  </div>
                  <div class="most-popular-sidebar-title">
                    <h6>{{post.title|truncatewords:8}}</h6>
                  </div>
                </div>
              {% endfor %}
            </div>
            <!-- post  popular sidebar posts ends -->
            <!--right side small banner start-->
            <div class="small-sidebar-banner">
              <a href="">
                <img src="https://source.unsplash.com/random/natural" alt="">
              </a>
            </div>
        </div>
       <!-- right sidebar latest post section end here-->
      </div>
    </section>
    <!-- post section end here -->

    <!-- full banner section start here -->
    <section class="banner container">
      <div class="full-banner">
        <div class="full-banner-image">
          <img src="https://source.unsplash.com/random/natural" alt="">
        </div>
        <div class="full-banner-title">
          <h4>Add Section</h4>
        </div>
      </div>
    </section>
    <!-- full banner section ends here -->

    <!-- All post showing start here -->
    <section id="recommended-section" class="container">
      <h1 class="text-center bg-secondary text-light p-2">Recommended</h1>
      <div class="recommended-post-container">
          {% for post in blog_posts %}
              <div class="recommended-post">
                <div class="recommended-thumbnail">
                  <a  href="{% url 'post_detail' post.id %}">
                    <img src="{{post.thumbnail.url}}" alt="">
                  </a>
                </div>
                <div class="recommended-content">
                  <h4>{{post.title|truncatewords:8}}</h4>
                </div>
              </div>
          {% endfor %}
        </div>
        <div class="spinner-border spinner" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <div class="view-more">
          <button type="submit" class="btn btn-secondary load-btn" data-total={{total_post}}>View More</button>
        </div>
        <div class="alert alert-dark no-post-alert text-center" role="alert">
          No more  posts to show !!
        </div>
    </section>
    <!--All post showing ends here -->
    
 
 {% endblock content %}