{% extends 'base.html' %}
{% load static %}
{% block css %}
    .password_change_form_container{
        width: 100%;
        height: 100%;
    }
    .password_change_form_box{
        max-width:50rem;
        padding: 2rem;
        margin: 5rem 0rem 10rem 0rem;
        justify-content: center;
        border-radius: 1rem;
    }
    .password_change_form_box h1{
        font-size: 2.4rem;
        margin: 1rem 0rem;
        text-align: center;
        justify-content: center;
    }
    .password_change_form{
        margin: 1rem auto;
        max-width:48rem;
        height: 35rem;
    }

    .input-box input{
        width: 100%;
        padding: .3rem;
        font-size:1.8rem;
        border: rounded;
    }
    .input-box label{
        font-size: 1.6rem;
    }
    .password_change_btn{
        font-size: 2rem;
        margin:auto;
        width:15rem;
    } 
    .errorlist{
        color: red;
        list-style: none;
        font-size:1.3rem;
    }
{% endblock css %}
{% block content %}
<section class="dashboard">
    <div class="dashboard-container">
        <div class="dashboard-right-side-bar mx-auto">
            <div class="password_change_form_container">
                <div class="password_change_form_box mx-auto">
                    <h1>Change Your Password</h1>
                    <form class="password_change_form" action="" method="post" novalidate>
                        <div class="form_non_field_errors">
                            {% csrf_token %}
                            {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                    <p class="errorlist">{{error}}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
            
                        {% for form in form %}
                            <div class="input-group mb-5 input-box">
                                {{form.label_tag}}<br>
                                {{form}}{{form.errors}}
                            </div>
                        {% endfor %}
                        <div class="input-group">
                            <input class="password_change_btn btn-lg btn btn-secondary" type="submit" value="Save">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}