    <!-- Navar section start here -->
<nav class="first-nav bg-dark text-light ">
    <div class="container">
      <div class="first-left-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/">About</a>
        <a class="nav-link" href="/">Contact</a>      
      </div>
      <div class="first-right-nav">
          <a class="nav-link" href="/"><i class="fa-brands fa-facebook text-light"></i></a>
          <a class="nav-link" href="/"><i class="fa-brands fa-twitter text-light"></i></a>
          <a class="nav-link" href="/"><i class="fa-brands fa-square-instagram text-light"></i></a>
      </div>
    </div>
</nav>


<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand logo" href="/">My<span>Blog</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {% if request.path == "/" %}active{% endif %}" aria-current="page" href="/">Home</a>
          </li>
          {% for category in categories %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'category_list' category.category__id %}">{{category.category__title}}</a>
            </li>
          {% endfor %}
        </ul>
        <div class="">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link mr-3" href="{% url 'user_logout' %}">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-3" href="{% url 'change_password' %}">Change Password</a>
            </li>
            <li class="nav-item">
              <h6 class="nav-link">({{request.user}})</h6>
            </li> 
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'user_login' %}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'user_signup' %}">Signup</a>
            </li>  
          {% endif %}
        </ul>
        </div>
      </div>
    </div>
</nav>

    <!-- Navar section end here -->
